@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --primary-color: #003d29;
  --star-gold: #fece3e;
  --header-height: 120px;
  --navbar-height: 37px;
  --header-with-search-height: calc(var(--header-height) - var(--navbar-height)); }

* {
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box; }

/* Responsive */
.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto; }

.grid__full-width {
  width: 100%; }

.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px; }

.grid__column-2 {
  padding-left: 5px;
  padding-right: 5px;
  width: 16.667%; }

.grid__column-2-4 {
  padding-left: 5px;
  padding-right: 5px;
  width: 20%; }

.grid__column-10 {
  padding-left: 5px;
  padding-right: 5px;
  width: 83.3334%; }

.select-input {
  min-width: 180px;
  padding: 0 12px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-between; }

.select-input__label {
  font-size: 1.4rem;
  color: #555; }

.select-input__list {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  border-radius: 2px;
  background-color: var(--white-color);
  z-index: 1; }

/* Selection */
.select-input {
  position: relative;
  min-width: 150px;
  padding: 0 12px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-between; }

.select-input:hover .select-input__list {
  display: block; }

.select-input__label {
  font-size: 1.4rem;
  color: var(--text-color); }

.select-input__list {
  position: absolute;
  padding: 4px 0px;
  left: 0;
  right: 0;
  top: 6px;
  border-radius: 2px;
  background-color: var(--white-color);
  list-style: none;
  display: none; }

.select-input__link {
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--text-color);
  display: block;
  padding: 8px 12px; }

.select-input__link-one {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.select-input__link:hover {
  color: #45a880; }

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none; }

.pagination-item {
  margin: 0 8px; }

.pagination-item--active .pagination-item__link {
  background-color: var(--primary-color);
  color: var(--white-color); }

.pagination-item--active:hover .pagination-item__link {
  background-color: #45a880; }

.pagination-item__link {
  --height: 30px;
  display: block;
  text-decoration: none;
  font-size: 1.6rem;
  color: #939393;
  min-width: 40px;
  height: var(--height);
  line-height: var(--height);
  text-align: center;
  border-radius: 2px;
  font-size: 1.8rem;
  font-weight: 300; }

/* Footer */
.footer {
  padding-top: 20px; }

.footer__heading {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: var(--text-color); }

.footer-list {
  list-style: none;
  padding-left: 0; }

.footer-item__link {
  text-decoration: none;
  font-size: 1.2rem;
  color: #737373;
  padding: 2px 0;
  display: flex;
  align-items: center; }

.footer-item__link:hover {
  color: #45a880; }

.footer-item__icon {
  font-size: 1.6rem;
  margin: -1px 8px 0 0; }

.footer__bottom {
  background-color: #f5f5f5;
  padding: 8px 0; }

.footer__text {
  margin: 0;
  text-align: center;
  font-size: 1.2rem; }

.cart__container {
  max-width: 100%;
  margin: auto;
  background-color: rgba(128, 128, 128, 0.1);
  font-size: 15px; }

.cart-page {
  margin-top: 80px;
  margin-bottom: 10px;
  background-color: rgba(128, 128, 128, 0.1); }

.cart-info img {
  width: 80px;
  height: 80px;
  background-color: rgba(128, 128, 128, 0.1);
  margin-right: 10px; }

table {
  align-items: center;
  justify-content: center;
  width: 100%;
  border-collapse: collapse; }

td {
  padding: 15px 15px; }

td input {
  width: 30px;
  height: 30px;
  padding: 5px; }

.cart-info {
  display: flex;
  flex-wrap: wrap; }

th {
  text-align: left;
  padding: 5px;
  color: fff;
  background-color: antiquewhite; }

a {
  color: tomato; }

.total-price table {
  width: 100%;
  max-width: 435px; }

td:last-child {
  text-align: right; }

th:last-child {
  text-align: right; }

.buybtn {
  max-width: 100%;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  margin: auto;
  background-color: antiquewhite; }

.button2 {
  display: flex;
  align-items: center;
  justify-content: center; }

.btn {
  padding: 20px 70px;
  border-radius: 50px;
  cursor: pointer;
  transition: ease 0.5s; }

.btn:hover {
  background: #79b9eb; }

.total-price {
  width: 300px; }

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  border-bottom: 2px solid var(--primary-color); }

.img-feature {
  display: flex;
  width: 400px;
  height: 400px;
  margin: auto; }

.main {
  height: 70%;
  background-color: rgba(128, 128, 128, 0.1);
  margin-bottom: 25px; }

.list {
  height: 20%;
  display: flex; }

.active {
  background: #fc919f; }

.control {
  position: absolute;
  top: 35%;
  font-size: 50px;
  color: white;
  display: flex;
  cursor: pointer; }

ion-icon {
  stroke-width: 16px; }

.control__next {
  right: 52%; }

.LeftBlock {
  width: 40%;
  height: 800px;
  margin: 30px;
  border-radius: 50px; }

.LeftBlock_list {
  display: grid;
  grid-auto-flow: column;
  margin-top: 10px;
  overflow-x: auto;
  overscroll-behavior-inline: contain; }

.LeftBlock_list img {
  width: 120px;
  height: 120px;
  display: grid; }

.listitem {
  padding: 5px;
  border-radius: 10px; }

.listitem + .listitem {
  margin-left: 10px; }

.HeaderBox {
  width: 70%;
  margin-top: 5px; }

.HeaderBox__Item {
  margin-top: 5px; }

.RightBlock {
  width: 40%;
  height: 600px;
  margin: 30px; }

.topline {
  border-top: 1px solid grey;
  height: 100px; }

.botline {
  border-bottom: 1px solid grey;
  height: 100px; }

.FirstBlock__ItemPrice {
  display: flex;
  align-items: center;
  height: 70px; }

.color-group {
  display: flex;
  column-gap: 5px; }

.color-group {
  display: flex;
  align-items: center; }

.select-color {
  padding: 10px 0px; }

.color {
  width: 35px;
  height: 35px;
  background: none;
  border-radius: 50%;
  margin-right: 12px;
  cursor: pointer;
  transition: all 0.5s ease;
  margin-top: 5px; }

.color-black {
  background-color: #242424; }

.color-blue {
  background-color: #085ea0; }

.color-yellow {
  background-color: #c0b50d; }

.color-red {
  background-color: #8b0516; }

.color-white {
  background-color: #ededed; }

.color:hover {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3); }

.active-color {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3); }

.color-groups {
  padding: 1rem 0;
  display: flex; }

.quantity {
  margin-top: 10px; }

.btn-group {
  display: flex;
  column-gap: 10px;
  margin-top: 20px; }

.count {
  display: flex;
  align-items: center; }

.arr {
  border: 0.5px solid black;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center; }

.arr:hover {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3); }

.btn {
  margin-top: 20px;
  padding: 20px 70px;
  border-radius: 50px;
  cursor: pointer;
  transition: ease 0.5s; }

.btn:hover {
  background: #79b9eb; }

.btn + .btn {
  margin-left: 20px; }

ion-icon {
  color: #5f5f5f; }

.header {
  height: 120px;
  background-color: #003d29; }

.header__navbar {
  display: flex;
  justify-content: space-between; }

.header__navbar-list {
  list-style: none;
  padding-left: 0; }

.header__navbar-phone {
  display: inline-block;
  font-size: 1.3rem;
  color: var(--white-color);
  font-weight: 400; }

.header__navbar-item {
  display: inline-block;
  font-size: 1.3rem;
  color: var(--white-color);
  font-weight: 400;
  margin: 0 20px; }

.header__navbar-item:hover {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer; }

.header-with-search {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white-color);
  height: var(--header-with-search-height); }

.header__home {
  display: flex;
  align-items: center;
  color: var(--white-color);
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 900;
  padding-left: 10px; }

.header__logo {
  width: 70px;
  margin-right: 5px; }

.header__logo,
.header__name:hover {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer; }

.header__search {
  flex: 1;
  display: flex;
  height: 40px;
  margin-left: 50px;
  border-radius: 20px;
  background-color: var(--white-color); }

.header__search-input-wrap {
  flex: 1;
  height: 100%;
  position: relative; }

.header__search-input {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 20px;
  outline: none;
  font-size: 1.4rem;
  color: var(--text-color);
  padding: 0 20px; }

.header__search-btn {
  background-color: var(--white-color);
  border: none;
  border-radius: 20px;
  outline: none;
  width: 60px;
  height: 40px; }

.header__search-btn:hover {
  background-color: var(--primary-color);
  cursor: pointer; }

.header__search-icon {
  font-size: 1.8rem;
  color: var(--black-color); }

.header__search-input:focus ~ .header__search-history {
  display: block; }

.header__search-history {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--white-color);
  box-shadow: 0 1px 5px #999;
  display: none;
  overflow: hidden;
  z-index: 1; }

.header__search-history-heading {
  margin: 6px 20px;
  color: #999;
  font-size: 1.4rem;
  font-weight: 400; }

.header__search-history-list {
  padding-left: 0;
  list-style: none;
  margin: 6px 0 0; }

.header__search-history-item {
  height: 38px;
  padding: 0 20px; }

.header__search-history-item:hover {
  background-color: #fafafa; }

.header__search-history-item a {
  text-decoration: none;
  font-size: 1.4rem;
  line-height: 38px;
  color: var(--text-color);
  display: block; }

.header__list {
  list-style: none;
  display: flex; }

.header__account {
  display: inline-block;
  margin: 0 20px; }

.header__account-item {
  color: var(--white-color);
  text-decoration: none; }

.header__account-user {
  display: flex;
  justify-items: center;
  position: relative; }

.header__account-user-img {
  width: 25px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.7); }

.header__account-user-name {
  font-size: 1.4rem;
  font-weight: 400;
  margin: 5px 0 0 5px; }

.header__account-user-menu {
  list-style: none;
  position: absolute;
  padding-left: 0;
  top: 100%;
  right: 0;
  background-color: var(--white-color);
  border-radius: 2px;
  width: 140px;
  box-shadow: 0 1px 2px #e0e0e0;
  display: none;
  z-index: 1; }

.header__account-user:hover .header__account-user-menu {
  display: block; }

.header__account-user-item a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  display: block;
  padding: 7px 16px; }

.header__account-user-item a:hover {
  background-color: #fafafa; }

/* Cart */
.header__cart {
  display: inline-block;
  margin: 5px 20px 0; }

.header__cart-wrap {
  position: relative;
  display: inline-block; }

.header__account:hover,
.header__account-item:hover,
.header__cart:hover {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer; }

.header__cart-wrap:hover .header__cart-list {
  display: block; }

.header__cart-list {
  position: absolute;
  top: 100%;
  right: 20px;
  background-color: var(--white-color);
  width: 350px;
  box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
  animation: fadeIn ease-in 0.2s;
  cursor: default;
  display: none;
  z-index: 1; }

.header__cart-list--no-cart .header__cart--no-cart-img {
  display: block; }

.header__cart--no-cart-img {
  width: 100%;
  box-shadow: 0 1px 5px #999;
  display: none; }

.header__cart-notice {
  margin-left: 5px;
  padding: 0px 3px;
  top: -12px;
  left: 5px;
  border-radius: 10px;
  font-size: 1.5rem;
  line-height: 1.6rem;
  position: absolute;
  color: var(--primary-color);
  background-color: var(--white-color); }

.header__cart-heading {
  text-align: left;
  margin: 8px 0 8px 12px;
  color: #999;
  font-size: 1.4rem;
  font-weight: 400; }

.header__cart-list-item {
  padding-left: 0;
  list-style: none;
  height: 35vh;
  overflow-y: auto; }

.header__cart-item {
  display: flex;
  align-items: center; }

.header__cart-item:hover {
  background-color: #f8f8f8f8; }

.header__cart-img {
  width: 50px;
  height: 50px;
  margin: 12px;
  border: 1px solid var(--primary-color); }

.header__cart-item-info {
  width: 100%;
  margin-right: 12px; }

.header__cart-item-head {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.header__cart-item-name {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--text-color);
  margin: 0;
  line-height: 2rem;
  max-height: 4rem;
  overflow: hidden;
  flex: 1;
  padding-right: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-align: left; }

.header__cart-item-price {
  font-size: 1.4rem;
  font-weight: 500;
  color: red; }

.header__cart-item-multiply {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-color); }

.header__cart-item-qnt {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--text-color); }

.header__cart-item-body {
  display: flex;
  justify-content: space-between;
  margin-top: 12px; }

.header__cart-item-des {
  color: #757575;
  font-size: 1.2rem; }

.header__cart-item-remove {
  color: var(--text-color); }

.header__cart-item-remove:hover {
  color: var(--primary-color);
  cursor: pointer; }

.header__cart-view-cart {
  text-decoration: none;
  padding: 12px;
  background-color: #003d29;
  color: var(--white-color);
  float: right;
  margin: 0 12px 12px 0; }

.header__cart-view-cart:hover {
  background-color: #45a880;
  cursor: pointer; }

/* container */
.container {
  background-color: #f5f5f5; }

.container__content {
  padding-top: 35px; }

.category {
  background-color: var(--white-color);
  border-radius: 2px; }

.category-heading {
  font-size: 1.6rem;
  color: var(--text-color);
  padding: 10px 16px;
  margin-top: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  font-weight: 500; }

.category-list {
  list-style: none;
  padding: 0 0 8px 0;
  margin-top: -10px; }

.category-item__link {
  position: relative;
  display: block;
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  padding: 5px 16px;
  transition: right linear 0.1s;
  right: 0; }

.category-item__link:hover {
  color: #45a880;
  right: -4px; }

.home-filter {
  display: flex;
  align-items: center;
  padding: 12px 22px;
  border-radius: 2px; }

.home-filter__label {
  font-size: 1.4rem;
  color: #555;
  margin-right: 16px; }

/* product-item */
.home-product {
  margin-bottom: 50px; }

.home-product-item {
  display: block;
  margin-top: 10px;
  background-color: var(--white-color);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  transition: transform linear 0.1s;
  will-change: transform;
  text-decoration: none; }

.home-product-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1); }

.home-product-item__img {
  padding-top: 100%;
  background-repeat: no-repeat;
  background-color: var(--white-color);
  background-size: contain;
  background-position: top center; }

.home-product-item__name {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text-color);
  line-height: 1.8rem;
  height: 3.6rem;
  margin: 10px;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; }

.home-product-item__price {
  margin-left: 10px;
  font-size: 1.4rem;
  color: #45a880; }

.home-product-item__action {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding-bottom: 5px; }

.home-product-item__like {
  font-size: 15px; }

i.home-product-item__like-icon-fill {
  display: none;
  color: #ff0000; }

.home-product-item__like--liked .home-product-item__like-icon-fill {
  display: inline-block; }

.home-product-item__like--liked .home-product-item__like-icon-empty {
  display: none; }

.home-product-item__rating {
  font-size: 1rem;
  color: #d5d5d5; }

.home-product-item__rating__gold {
  color: var(--star-gold); }

.home-product__pagination {
  margin: 0 0 50px; }

section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80vh;
  object-fit: contain;
  background-size: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 15px; }

.form-box {
  position: relative;
  width: 400px;
  height: 450px;
  background: rgba(160, 174, 233, 0.5);
  border: 2px solid rgba(243, 243, 243, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center; }

h1 {
  text-align: center; }

.form-group {
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid #fff; }

.form-group label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1em;
  pointer-events: none;
  transition: .5s; }

.form-input:not(:placeholder-shown) + .form-label,
.form-input:focus + .form-label {
  top: -5px; }

.form-group input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.5em;
  padding: 0 0 0 5px;
  color: #fff; }

.form-group ion-icon {
  position: absolute;
  right: 8px;
  color: #fff;
  font-size: 1.2em;
  top: 20px; }

.remember-checkbox {
  margin: -15px 0 15px;
  font-size: .9em;
  color: #fff;
  display: flex;
  justify-content: space-between; }

.remember-checkbox label input {
  margin-right: 3px; }

button {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600; }

.button ion-icon {
  position: relative;
  left: 0;
  top: 5px;
  font-size: 20px; }

.Register p a:hover {
  color: #fff; }

.Register {
  margin: auto; }

body {
  background: #f9f9f9;
  font-family: "Roboto", sans-serif; }

section {
  font-size: large; }

.shadow {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important; }

.profile-tab-nav {
  min-width: 250px; }

.tab-content {
  flex: 1; }

.form-group {
  margin-bottom: 1.5rem; }

.nav-pills a.nav-link {
  padding: 15px 20px;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  color: #333; }

.nav-pills a.nav-link i {
  width: 20px; }

.img-circle img {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  border: 5px solid #fff; }
