<header class="header">
            <div class="grid">
                <nav class="header__navbar">
                    <ul class="header__navbar-list">
                        <li class="header__navbar-phone">
                            <i class="fa-sharp fa-solid fa-phone"></i>
                            +84398917696</li>
                    </ul>
                    <ul class="header__navbar-list">
                        <li class="header__navbar-item">Ngôn ngữ
                            <i class="fa-solid fa-angle-down"></i>
                        </li>
                        <li class="header__navbar-item">Vị trí
                            <i class="fa-solid fa-angle-down"></i>
                        </li>
                    </ul>
                </nav>
                <nav class="header-with-search">
                    <a href="/" class="header__home">
                        <img class="header__logo" src="/img/logo.png" alt="" sizes="20px">
                    <div class="header__name">LDSHOP</div>
                    </a>

                    <div class="header__search">
                        <div class="header__search-input-wrap">
                            <input type="text" class="header__search-input" placeholder="Tìm kiếm sản phẩm">
                            <div class="header__search-history">
                                <h3 class="header__search-history-heading">Lịch sử tìm kiếm</h3>
                                <ul class="header__search-history-list">
                                    <li class="header__search-history-item">
                                        <a href="">iphone 14 promax</a>
                                    </li>
                                    <li class="header__search-history-item">
                                        <a href="">áo thun nam</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <button class="header__search-btn">
                            <i class="header__search-icon fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>

                    <ul class="header__list">
                        {{!-- <li class="header__account">
                            <a href="" class="header__account-item">
                                <i class="fa-regular fa-user"></i>Account
                            </a>    
                        </li>  --}}
                        <li class="header__account header__account-user">
                            <img src="https://lh3.googleusercontent.com/ogw/AOLn63Gzg4CPiFSBDd1pMc7Hne6UWIGX7Gnj-IxsQdq5=s32-c-mo" alt="" class="header__account-user-img">
                            <span class="header__account-user-name">Dũng Hoàng</span>
                            <ul class="header__account-user-menu">
                                <li class="header__account-user-item">
                                    <a href="/user">Tài khoản của tôi</a>
                                </li>
                                {{!-- <li class="header__account-user-item">
                                    <a href="/create">Đăng sản phẩm</a>
                                </li> --}}
                                <li class="header__account-user-item">
                                    <a href="">Đơn mua</a>
                                </li>
                                <li class="header__account-user-item">
                                    <a href="">Đăng xuất</a>
                                </li>
                            </ul>
                        </li>

                        <li class="header__cart">
                            <div class="header__cart-wrap">
                                <i class="fa-solid fa-cart-plus"></i>
                                Giỏ hàng
                                <span class="header__cart-notice">2</span>
                                <div class="header__cart-list">
                                    <img src="/img/empty-cart.webp" alt="" class="header__cart--no-cart-img">
                                    <h4 class="header__cart-heading">Sản phẩm đã thêm</h4>
                                    <ul class="header__cart-list-item">
                                        <li class="header__cart-item">
                                            <img src="https://down-vn.img.susercontent.com/file/93b3f6d4799b06f9279f817540daa4d1_tn" alt="" class="header__cart-img">
                                            <div class="header__cart-item-info">
                                                <div class="header__cart-item-head">
                                                    <h5 class="header__cart-item-name">Iphone 14 pro max</h5>
                                                    <div class="header__cart-item-price-wrap">
                                                        <span class="header__cart-item-price">30.000.000</span>
                                                        <span class="header__cart-item-multiply">x</span>
                                                        <span class="header__cart-item-qnt">1</span>
                                                    </div>
                                                </div>
                                                <div class="header__cart-item-body">
                                                    <span class="header__cart-item-des">Phân loại</span>
                                                    <span class="header__cart-item-remove">Xóa</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="header__cart-item">
                                            <img src="https://down-vn.img.susercontent.com/file/93b3f6d4799b06f9279f817540daa4d1_tn" alt="" class="header__cart-img">
                                            <div class="header__cart-item-info">
                                                <div class="header__cart-item-head">
                                                    <h5 class="header__cart-item-name">Iphone 14 pro max</h5>
                                                    <div class="header__cart-item-price-wrap">
                                                        <span class="header__cart-item-price">30.000.000</span>
                                                        <span class="header__cart-item-multiply">x</span>
                                                        <span class="header__cart-item-qnt">1</span>
                                                    </div>
                                                </div>
                                                <div class="header__cart-item-body">
                                                    <span class="header__cart-item-des">Phân loại</span>
                                                    <span class="header__cart-item-remove">Xóa</span>
                                                </div>
                                            </div>
                                        </li>
                                        
                                    </ul>
                                    <a href="/cart" class="header__cart-view-cart">Xem giỏ hàng</a>
                                </div> 
                                
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>